duckdb==1.5.2
Faker==40.18.0
pandas==3.0.3
pyarrow==24.0.0
pyspark==4.1.1
pytest==9.0.3
python-dotenv==1.2.2
psycopg==3.3.4
psycopg-binary==3.3.4
SQLAlchemy==2.0.49
dbt-core==1.10.15
dbt-duckdb==1.9.6
